		<div class="row-fluid">
			<div class = "col-md-6">
				<div class="imageupload panel panel-default">
    					<div class="panel-heading clearfix">
        					<h3 class="panel-title pull-left">Upload Image</h3>
    					</div>

    					<div class="file-tab panel-body">

						{% if filename %}
						  <img src="{{ url_for('face.send_file', filename=filename) }}">
						{% else %}
						  <h3>No Image Selected</h3>
						{% endif %}
						</div>

						<form method=POST enctype=multipart/form-data action="{{ url_for('face.upload') }}">

						    <div class="file-tab panel-body">

						        <label class="btn btn-default btn-file">
						            <!--<span>Browse</span>-->
						            <!-- The file is stored here. -->
						            <input type="file" name="image-gender">
						        </label>
						    </div>
						                <input type="submit">
						  </form>
					</div>
          		</div>

			<div class = "col-md-6">
				<div class="imageupload panel panel-default">
    					<div class="panel-heading clearfix">
        					<h3 class="panel-title pull-left">Detected Faces</h3>
    					</div>

    					<div class="file-tab panel-body">
						{% if rfilename %}
						  <img src="{{ url_for('face.send_file', filename=rfilename) }}">
						{% else %}
						  <h3>No Image Selected</h3>
						{% endif %}
				          </div>
				</div>
			</div>
		</div>
